<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load django_bootstrap5 %}

    {# Load Bootstrap CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Load Bootstrap alerts #}
    {% bootstrap_messages %}
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'finance/style.css' %}">
    <link rel="stylesheet" href="{% static 'flightbook/style.css' %}">

    <title>Bookie Finanzen</title>


</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}
</body>
</html>